.item-3 {
    width: 90%; 
    margin: 120px auto 0 auto;

    @media screen and (max-width: 768px) {
        width: 100%;
        margin-top: 50px;
    }

    .subitem-3 {
        padding: 0;
        text-align: center;

        a {
            text-decoration: none;

            &:hover {
                .buy {
                    display: block;
                }
            }
        }
    }

    li {
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        width: 33.33%;

        @media screen and (max-width: 1024px) {
            padding: 0 10px;
        }

        img {
            @media screen and (max-width: 1024px) {
                max-width: 100%;
            }
        }

        @media screen and (max-width: 768px) {
            width: 100%;
            display: block;
        }
    }

    .tag {
        max-width: 350px;
        margin: 0 auto;

        @media screen and (max-width: 768px) {
            margin-bottom: 50px;
        }
    }

    span {
        color: $color-5;
        padding-top: 10px;
        display: block;
        font-weight: bold;
    }

    span,
    p {
        text-align: left;
    }

    
}